body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

section{
    padding:20px;
}

#project-list div{
    background:white;
    padding:15px;
    margin-top:10px;
    border-radius:10px;
}
.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-top:10px;
}
.skills span{

    display:inline-block;
    background:black;
    color:white;
    padding:10px 15px;
    margin:5px;
    border-radius:20px;

}
.dark{

    background:black;
    color:white;

}

.dark #project-list div{

    background:#222;
    color:white;

}
header{

    animation: slideDown 1s;

}

section{

    animation: fadeIn 2s;

}

@keyframes slideDown{

    from{
        transform:translateY(-100px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }

}

@keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}
button{

    background:black;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;

}

button:hover{

    opacity:0.8;

}
body{

    font-family: Arial;
    margin:0;
    color:white;

    background: linear-gradient(
        -45deg,
        #ff6b6b,
        #6c5ce7,
        #00cec9,
        #0984e3
    );

    background-size:400% 400%;

    animation: gradientBG 10s ease infinite;

}
@keyframes gradientBG{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}
#project-list div{

    background:rgba(255,255,255,0.2);

    backdrop-filter: blur(10px);

    color:white;
}
.skills span{

    background:rgba(255,255,255,0.2);

    backdrop-filter:blur(5px);

}